html {
	background-color: black;
  /*height: 100%;*/
  /*width: 100%;*/
  margin: 0;
	padding: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#app {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: auto;
}

button {
	font-family: 'Roboto', sans-serif;
}

input {
	width: 400px;
	padding: 20px;
	font-size: 20px;
	background-color: rgba(255, 255, 255, 0.8);
}

ul {
	font-family: 'Roboto', sans-serif;
	width: 400px;
	list-style: none;
	font-size: 12pt;
	text-align: left;
	position: absolute;
	margin: auto;
	padding: 0;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.8);
}

li {
	padding: 2px;
}

li:hover {
	background-color: yellow;
	cursor: pointer,
}

#list-arrive, #list-depart {
	width: auto;
	margin-left: 10px;
	/*padding: 10px;*/
}

@import "node_modules/react-predictive-input/dist/styles.css";